<h1 class="hcolor">What Does It Mean To Be Bloggy?</h1>

<table class="middle" cellpadding="10">
<tr>
<td><%= image_tag "cat_laptop.jpg", :alt=>"Another Cat Picture on the Internet", :title=>"Why is there hair all over my blog? Oh, that's right...I'm a cat." %>
<td><p>Welcome to our humble page. We are <i>dedicated</i> to bringing you the <span class="blue">freshest</span> blog on the Triple Dubs. There's gonna be all kinds of cool stuff going on here. Like...blogging, and...commenting on blogging, and...pictures -- yeah, OMG this site is gonna be lousy with pictures. Like, seriously, it'll almost being annoying how many pictures are gonna be on the site. You'll be like, "Oh, I thought this was a blog site, not Instagram," and we'll be like, "Yeah, we know, we got carried away with the pictures," and then we'll just shrug and smile and we'll all share a laugh, right?
</p>
<p>Also, the first 50 bloggers get a free T-shirt. So sign up today!</p>
</td>
</tr>
</table>

<div style="margin:50px;padding:30px;background-color:<%= @color %>">
	<h2>Forbidden Words:</h2>
	<% @words.each do |word| %>
		<%= word %>
		<% if word == "yolo" %>
			(ugh...)
		<% end %>
		<br />
	<% end %>
	Hello, my name is <%= @my_name %>
</div>
