<div class="middle">
	<h1>Contact Us</h1>
	<br />
	<p>Call us @ 1-800-4BLOGGY</p>
	<p>Follow us on Twitter: <a href="http://www.twitter.com/bloggybunch">@BloggyBunch</a></p>
	<p>Like us on Facebook: <a href="http://www.facebook.com/Bloggy">Bloggy FB</a></p>
	<p>Our offices are located in the historic Bedbug Building, between that junkyard with the <i>really</i> mean dogs and the off-brand Arby's ("Beefy's"). Unless you like the smell of day-old roast beef, it'd be best if you call or contact us online. But, heck, here's the address anyway:
	<center>42 Peachtree-Something Road, Ste. 126<br />
		Nonyer-Bissnes, GA 30000</center>
	</p>
</div>