<div class="middle">
<h1>Terms of Service</h1>
<br />
<p>Basically...we own your shit now. Deal with it.</p>
<%= image_tag "evilcomputer2.jpg", :alt=>"Imma compute u sucka", :title=>"FEED ME YOUR SSN!" %>
<p>All complaints can be filed <a href="http://giphy.com/tags/deal-with-it/">HERE</a>.
</div>