<div class="middle">
	<p>
		<h4><font color="red">Welcome Back! Or, It's Great to Meet You!</font></h4>
	</p>
	<p>
		<table>
			<tr>
				<td>username: </td>
				<td><input type="text" id="user"></td>
			</tr>
			<tr>
				<td>password: </td>
				<td><input type="password" id="password"></td>
				<td><form action="/yourposts">
	    			<input type="submit" value="Sign In"></form></td>
	    </tr>
			<tr>
				<td>e-mail:   </td>
				<td><textarea rows="1" cols="20"></textarea></td>
				<td><form action="/yourposts">
	    			<input type="submit" value="Register"></form></td>
	    </tr>
		</table>
		<font size="1">Psst! You don't need to actually have a UN or PW, just click one of the buttons or the links up top. It's all just for show!</font>
	</p>
</div>