.paragraph{
    margin-bottom:1px;
    margin-top:1px;
    font-weight:bold;
    padding:30px;
    //font-family:georgia;
    background-color:#2ECCFA;
    display:none;
}

#my_first_paragraph{
    color:red;
}